<div class="archmage chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="ability-usage ability-usage--{{data.powerUsage.value}}">{{item.name}}</h3>
    </header>

    <div class="item-summary">

        <div class="card-content">
            <div class="card-row">
                {{#if data.embeddedMacro.value}}
                    <div class="card-row"><em>({{localize "ARCHMAGE.CHAT.embeddedMacro"}})</em></div>
                {{/if}}
                {{#if data.range.value}}
                    <em>{{data.range.value}}</em>
                {{/if}}
                {{#each data.properties}}
                <div class="card-prop"><strong>{{this.label}}:</strong> {{{this.value}}}</div>
                {{/each}}
                {{#each data.effects}}
                <div class="card-row">
                    <div class="card-prop"><strong class="card-label">{{this.label}}:</strong> {{{this.value}}}</div>
                </div>
                {{/each}}
                {{#if data.rollTable.value}}
                <div class="card-row">
                    <div class="card-prop"><strong class="card-label">{{data.rollTable.label}}:</strong> {{{data.rollTable.value}}}</div>
                </div>
                {{/if}}
                {{#if data.description.value}}
                    <div class="card-row">
                        {{{data.description.value}}}
                    </div>
                {{/if}}
                {{#if data.feats}}
                    {{#each data.feats as |feat key|}}
                        <div class="tag tag--feat tag--{{#if feat.isActive}}active{{else}}inactive hide{{/if}} tag--{{safeCSSId feat.label}}">
                            <strong>{{localize (concatenate "ARCHMAGE.CHAT." feat.label)}}:</strong>
                            <div class="description">{{{feat.description}}}</div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>

        <footer class="card-footer">
            {{#each data.tags}}
            <span>{{this.value}}</span>
            {{/each}}
        </footer>

    </div>
</div>
