<script>
  window.global = window;
  //setTimeout(function() {
  //  document.body.classList.add('archmage-v2', 'sheet', 'sheet-journal')
  //}, 0);
</script>

<style type="text/css">
  html, body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  #root > * {
    flex: 1;
  }
</style>